<a href="https://colab.research.google.com/github/vanyaagarwal29/Feature-Enginering/blob/main/Handling_Categorical_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**<h2>One Hot Encoding</h2>**

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('titanic.csv',usecols=['Sex'])
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [6]:
pd.get_dummies(df).head()

   Sex_female  Sex_male
0           0         1
1           1         0
2           1         0
3           1         0
4           0         1

In [7]:
pd.get_dummies(df,drop_first=True).head()

   Sex_male
0         1
1         0
2         0
3         0
4         1

In [8]:
df=pd.read_csv('titanic.csv',usecols=['Embarked'])
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [9]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [10]:
df.dropna(inplace=True)

In [11]:
pd.get_dummies(df,drop_first=False).head()

   Embarked_C  Embarked_Q  Embarked_S
0           0           0           1
1           1           0           0
2           0           0           1
3           0           0           1
4           0           0           1

Disadvantage
1. Create many features

**<h2>One hot encoding with many categories in a feature</h2>**

In [16]:
df=pd.read_csv('mercedes.csv',usecols=["X0",'X1','X2','X3','X4','X5','X6'])
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [18]:
for i in df.columns:
  print(len(df[i].unique()))

47
27
44
7
4
29
12

In [21]:
#We will take 10 most frequent occuring variable of that feature
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [24]:
lst_10=df.X1.value_counts().sort_values(ascending=False).head(10).index
lst_10=list(lst_10)
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [26]:
import numpy as np
for categories in lst_10:
  df[categories]=np.where(df['X1']==categories,1,0)

lst_10.append('X1')
df[lst_10]

      aa  s  b  l  v  r  i  a  c  o X1
0      0  0  0  0  1  0  0  0  0  0  v
1      0  0  0  0  0  0  0  0  0  0  t
2      0  0  0  0  0  0  0  0  0  0  w
3      0  0  0  0  0  0  0  0  0  0  t
4      0  0  0  0  1  0  0  0  0  0  v
...   .. .. .. .. .. .. .. .. .. .. ..
4204   0  1  0  0  0  0  0  0  0  0  s
4205   0  0  0  0  0  0  0  0  0  1  o
4206   0  0  0  0  1  0  0  0  0  0  v
4207   0  0  0  0  0  1  0  0  0  0  r
4208   0  0  0  0  0  1  0  0  0  0  r

[4209 rows x 11 columns]

**<h2>Ordinal Number Enconding</h2>**

In [27]:
import datetime

In [28]:
today_date=datetime.datetime.today()

In [29]:
today_date

datetime.datetime(2022, 12, 31, 16, 10, 11, 370795)

In [31]:
today_date-datetime.timedelta(1)

datetime.datetime(2022, 12, 30, 16, 10, 11, 370795)

In [33]:
#List Comprehension
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [36]:
import pandas as pd
data=pd.DataFrame(days)
data.columns=["Day"]
data.head()

                         Day
0 2022-12-31 16:10:11.370795
1 2022-12-30 16:10:11.370795
2 2022-12-29 16:10:11.370795
3 2022-12-28 16:10:11.370795
4 2022-12-27 16:10:11.370795

In [50]:
data['weekday']=data["Day"].dt.day_name()
data.head()

                         Day    weekday
0 2022-12-31 16:10:11.370795   Saturday
1 2022-12-30 16:10:11.370795     Friday
2 2022-12-29 16:10:11.370795   Thursday
3 2022-12-28 16:10:11.370795  Wednesday
4 2022-12-27 16:10:11.370795    Tuesday

In [51]:
dictionary={'Monday':1, 'Tuesday':2,'Wednesday':3, 'Thursday':4,'Friday':5,'Saturday':6, 'Sunday':7}
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [54]:
data['weekday_ordinal']=data['weekday'].map(dictionary)
data

                          Day    weekday  weekday_ordinal
0  2022-12-31 16:10:11.370795   Saturday                6
1  2022-12-30 16:10:11.370795     Friday                5
2  2022-12-29 16:10:11.370795   Thursday                4
3  2022-12-28 16:10:11.370795  Wednesday                3
4  2022-12-27 16:10:11.370795    Tuesday                2
5  2022-12-26 16:10:11.370795     Monday                1
6  2022-12-25 16:10:11.370795     Sunday                7
7  2022-12-24 16:10:11.370795   Saturday                6
8  2022-12-23 16:10:11.370795     Friday                5
9  2022-12-22 16:10:11.370795   Thursday                4
10 2022-12-21 16:10:11.370795  Wednesday                3
11 2022-12-20 16:10:11.370795    Tuesday                2
12 2022-12-19 16:10:11.370795     Monday                1
13 2022-12-18 16:10:11.370795     Sunday                7
14 2022-12-17 16:10:11.370795   Saturday                6

**<h2>Count or Frequency Encoding</h2>**

In [100]:
train_set = pd.read_csv('adult.data', header = None,index_col=None) 
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [101]:
columns=[1,3,5,6,7,8,9,13]
train_set=train_set[columns]

In [102]:
train_set.columns=['Employment','Degree','Status','Designation','family-job','Race','Sex','Country']

In [103]:
train_set.head()

,Employment,Degree,Status,Designation,family-job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [104]:
for feature in train_set.columns[:]:
  print(feature,":",len(train_set[feature].unique()),'labels')

Employment : 9 labels
Degree : 16 labels
Status : 7 labels
Designation : 15 labels
family-job : 6 labels
Race : 5 labels
Sex : 2 labels
Country : 42 labels

In [105]:
country_map=train_set['Country'].value_counts().to_dict()
country_map

{' United-States': 29170,
 ' Mexico': 643,
 ' ?': 583,
 ' Philippines': 198,
 ' Germany': 137,
 ' Canada': 121,
 ' Puerto-Rico': 114,
 ' El-Salvador': 106,
 ' India': 100,
 ' Cuba': 95,
 ' England': 90,
 ' Jamaica': 81,
 ' South': 80,
 ' China': 75,
 ' Italy': 73,
 ' Dominican-Republic': 70,
 ' Vietnam': 67,
 ' Guatemala': 64,
 ' Japan': 62,
 ' Poland': 60,
 ' Columbia': 59,
 ' Taiwan': 51,
 ' Haiti': 44,
 ' Iran': 43,
 ' Portugal': 37,
 ' Nicaragua': 34,
 ' Peru': 31,
 ' France': 29,
 ' Greece': 29,
 ' Ecuador': 28,
 ' Ireland': 24,
 ' Hong': 20,
 ' Cambodia': 19,
 ' Trinadad&Tobago': 19,
 ' Laos': 18,
 ' Thailand': 18,
 ' Yugoslavia': 16,
 ' Outlying-US(Guam-USVI-etc)': 14,
 ' Honduras': 13,
 ' Hungary': 13,
 ' Scotland': 12,
 ' Holand-Netherlands': 1}

In [106]:
train_set['Country']=train_set['Country'].map(country_map)
train_set.head()

,Employment,Degree,Status,Designation,family-job,Race,Sex,Country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,29170
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,29170
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,29170
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,29170
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,95

Advantages
1. Easy To Use
2.Not increasing feature space

Disadvantages
1. It will provide same weight if the frequencies are same

**<h2>Target Guided Ordinal Encoding</h2>**
- Ordering the labels according to the target
- Replace the labels by the joint probability of being 1 or 0

In [108]:
df=pd.read_csv('titanic.csv',usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [110]:
df['Cabin'].fillna('Missing',inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [113]:
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [114]:
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [118]:
ordinal_labels=df.groupby(['Cabin'])['Survived'].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [120]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [121]:
df['Cabin_ordinal_labels']=df['Cabin'].map(ordinal_labels2)
df.head()

   Survived Cabin  Cabin_ordinal_labels
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

**<h2>Mean Encoding</h2>**

In [124]:
mean_ordinal=df.groupby(['Cabin'])['Survived'].mean().to_dict()
mean_ordinal

{'A': 0.4666666666666667,
 'B': 0.7446808510638298,
 'C': 0.5932203389830508,
 'D': 0.7575757575757576,
 'E': 0.75,
 'F': 0.6153846153846154,
 'G': 0.5,
 'M': 0.29985443959243085,
 'T': 0.0}

In [125]:
df['mean_ordinal_encode']=df['Cabin'].map(mean_ordinal)
df.head()

   Survived Cabin  Cabin_ordinal_labels  mean_ordinal_encode
0         0     M                     1             0.299854
1         1     C                     4             0.593220
2         1     M                     1             0.299854
3         1     C                     4             0.593220
4         0     M                     1             0.299854

Advantages
1. It captures information within the label therefore lendering more predictive features.
2. It creates a monotonic relationship between variable and target.

Disadvantage
1. It leads to overfitting

**<h2>Probability Ratio Encoding</h2>**

In [126]:
df=pd.read_csv('titanic.csv',usecols=['Cabin','Survived'])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [127]:

df['Cabin'].fillna('Missing', inplace=True)
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [128]:
df['Cabin'].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [129]:
df['Cabin']=df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [130]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [131]:
prob_df=df.groupby(['Cabin'])['Survived'].mean()

In [132]:
prob_df=pd.DataFrame(prob_df)
prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [136]:
prob_df['Died']=1-prob_df['Survived']
prob_df.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

In [137]:
prob_df['Probability_ratio']=prob_df['Survived']/prob_df['Died']
prob_df.head()

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [141]:
probability_encoding=prob_df['Probability_ratio'].to_dict()

In [142]:
df['Cabin_encoded']=df['Cabin'].map(probability_encoding)
df.head()

   Survived Cabin  Cabin_encoded
0         0     M       0.428274
1         1     C       1.458333
2         1     M       0.428274
3         1     C       1.458333
4         0     M       0.428274